.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #2c3e50;
    color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 2.5% 2.5% 2.5% 2.5%;
}

.headerTitle {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.buttons-container {
    display: flex;
    justify-content: flex-end;.listButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s; /* Suaviza a transição do hover */
}
}

.listButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    transition: all 0.3s; /* Suaviza a transição do hover */
}

.listButton:hover {
    background-color: #0056b3;
}